body {
    height: 100vh;
}

.navbar {
    background: linear-gradient(180deg, rgba(27,132,176,.9) 60%, rgba(17,160,160,1) 100%);
}

.navbar .navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 28px;
}

.navbar .navbar-collapse ul li a{
    color: #fff;
    font-size: 18px;
    display: flex;
    /* border: 1px solid #000; */
}

.navbar .acciones-page .btn {
    background-color: #27D963;
    color: #fff;
    margin-left: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
}

.card {

    width: 416px;
    height: 470px;
    border: 1px solid #000;
    margin: 20px;
    padding: 15px;

}

.formRegister {
    width: 500px;
    height: 850px;
    background-color: #00BFB3;
    padding: 25px;
    margin: 20px;
    border-radius: 20px;
}

.formLogin {

    /* border: 1px solid #000; */
    width: 500px;
    height: 379px;
    background-color: #00BFB3;
    padding: 25px;
    margin: 20px;
    border-radius: 20px;

}

.formLogin label, .formRegister label {
    color: #fff;
}

.formLogin input, .formRegister input {

    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;

}

.formLogin input[type='submit'], .formRegister input[type="submit"] {
    outline: transparent;
    margin-top: 40px;
    background-color: transparent;
    color: #fff;
}

.image-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 20px;

}

.image-container img {

    flex-basis: calc(33.33% - 10px); /* Ancho base para cada imagen */
    flex-grow: 1; /* Permite crecer para llenar el espacio */
    margin-right: 10px; /* Espacio entre las imágenes */
    margin-bottom: 10px; /* Espacio entre las filas de imágenes */
    box-sizing: border-box; /* Asegura que el espacio se tenga en cuenta en el ancho */

}

.terminosContainer {

    border: 1px solid #000;
    margin: 20px;
    padding: 25px;
    border-radius: 20px;

}

.chatbot-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chat-content {
    text-align: center;
}

.name {
    font-weight: bold;
    margin: 10px 0;
}

.downmessage {
    color: #666;
}

.message-container {
    display: flex;
    margin-top: 20px;
}

#message_input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.enviar {
    background-color: #007bff;
    color: #fff;
    display: inline-block;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    text-decoration: none;
    transition: background-color 0.3s;
}

.enviar:hover {
    background-color: #0056b3;
}

.image-bot {
    max-width: 100%;
    height: auto;
}

/* Despligue del chat bot */

.chatbot-toggle {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
}

.toggle-button {
    background-color: #007bff;
    color: #fff;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.toggle-button:hover {
    background-color: #0056b3;
}

/* Estilos para mostrar el chatbot */
.chatbot-container {
    display: none;
    position: fixed;
    right: 80px;
    bottom: 80px;
    max-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.show-chatbot {
    display: block;
}
 
footer {
    background: linear-gradient(185deg, rgba(27,132,176,1) 99%, rgba(17,160,160,1) 100%);
}

.f1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #000; */
    margin-bottom: 10px;
}

.f1-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    /* border: 1px solid #000; */
}

.f1-content p {
    margin: 0 15px;
}

.f1 .social-icons {
    font-size: 30px;
    margin: 0 20px 0 0;
    color: #fff;
}

.navbar-footer {
    list-style: none;
    margin: 15px 0;
}

.navbar-footer li {
    margin: 0 15px;
}

.navbar-footer li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.img-caj {
    border: 1px solid #ccc;
    padding: 20px;
}

/* Estilos para los mensajes del chat */

.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user .message {
    justify-content: flex-start;
}

.bot .message {
    justify-content: flex-end;
}

.user .message p,
.bot .message p {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    max-width: 70%;
}

.message-sender {
    font-weight: bold;
    margin-right: 8px;
}

/* Botones del chatbot */

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
}

.bot-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bot-button:hover {
    background-color: #2980b9;
}

.chat-content {
    max-height: 677.33px; 
    overflow-y: auto;
    padding: 10px;
}

.chat-messages {

    max-height: 400px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #ccc #f4f4f4;
    padding: 10px;

}

/* Barra de desplazamiento en navegadores que no soportan la propiedad scrollbar-color */

.chat-messages::-webkit-scrollbar {
    width: 8px;
}

.chat-messages::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px; 
}

.chat-messages::-webkit-scrollbar-track {
    background-color: #f4f4f4;
    border-radius: 4px;
}

/* Barra de desplazamiento en navegadores que soportan las propiedades de WebKit */

.chat-content::-webkit-scrollbar {
    width: 8px;
}

.chat-content::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
}

.chat-content::-webkit-scrollbar-track {
    background-color: #f4f4f4;
    border-radius: 4px;
}